
      <div class="bottom-container container-fluid">
        <i class="fab fa-linkedin"></i>
       <a class="footer-link" target="_blank" href="https://www.linkedin.com/in/emmanuel-mfumuangani-88241b186/">LinkedIn</a>
       <i class="fab fa-github"></i>
       <a class="footer-link" target="_blank" href="https://github.com/emmanuel-mfum">Github</a>
       <i class="fab fa-instagram"></i>
       <a class="footer-link" target="_blank" href="https://www.instagram.com/emmanuel.mfum/">Instagram</a>
       <p class="copyright">© 2020 Emmanuel Mfumuangani.</p>
      </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script type="text/javascript">
      const page = window.location.toString().split("/").pop();

      switch (page) {
       case "about":
         var el  = document.querySelector(".about");
         el.classList.add("active");
         break;
       case "resume":
         var el  = document.querySelector(".resume");
         el.classList.add("active");
         break;
       case "contact":
         var el  = document.querySelector(".contact");
         el.classList.add("active");
         break;
       case "portfolio":
         var el  = document.querySelector(".portfolio");
         el.classList.add("active");
         break;

        default:
         var el  = document.querySelector(".home");
         el.classList.add("active");
      }
    </script>


  </body>
</html>
