<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>☁️ Manu's Hub </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" type="img/png" href="images/favicon-32x 32.png">
    <script src="https://kit.fontawesome.com/b37caa546d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="navigation">

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">

          <a class="navbar-brand" href="/">Manu's Hub</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item home">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item about">
                  <a class="nav-link" href="/about">About Me</a>
              </li>
              <li class="nav-item resume">
                <a class="nav-link" href="/resume">Resume</a>
              </li>
              <li class="nav-item portfolio">
                <a class="nav-link" href="/portfolio">Portfolio</a>
              </li>
              <li class="nav-item contact">
                <a class="nav-link" href="/contact">Contact Me</a>
              </li>

            </ul>

          </div>
          </div>
        </nav>


    </section>
