<%- include("partials/header") -%>

<div class=" resume-page container-fluid">


  <h1 style="text-align:center;">My Resume</h1>

  <h2 style="text-align:left;"> Education </h2>


  <p style="display:inline;">Concordia University</p>
  <p style="display:inline;margin-left:410px;"> Montreal, QC</p>
  <br>
  <p style="display:inline;"> BS in Biology, Minor in Computer Science*, GPA : 3.34</p>
  <p style="display:inline;margin-left:150px;"> Sept 2017 - Dec 2020</p>
  <br>
  <br>
  <p>* As part of the Minor in Computer Science I took the following courses (for a total of 25 credits):</p>
  <ul>
    <li>Object-Oriented Programming I (COMP 248)</li>
    <li>Object-Oriented Programming II (COMP 249)</li>
    <li>Mathematics for Computer Science (Discrete Mathematics) (COMP 232)</li>
    <li>System Hardware (COMP 228)</li>
    <li>Data Structures and Algorithms (COMP 352)</li>
    <li>Advanced Programming with C++ (COMP 345)</li>
    <li>Principles of Programming Languages (COMP 348)</li>
    <li>Web Programming (SOEN 287)</li>
  </ul>

  <br>
  <br>


  <h2>Work Experience</h2>
  <p style="display:inline;">Staples</p>
  <p style="display:inline;margin-left:521px;"> Longueuil, QC</p>
  <br>
  <p style="display:inline;font-style: italic;">Sales Area Associate</p>
  <p style="display:inline;margin-left:420px;"> Jun 2019 - Aug 2019</p>
  <ul>
    <li>Helping customers in their diverse needs to maximize sales</li>
    <li>Keep up the company's merchandising standards</li>
    <li>Ensure cleanliness of all areas of the store.</li>
  </ul>
  <br>
  <p style="display:inline;">La Ronde</p>
  <p style="display:inline;margin-left:508px;"> Montreal, QC</p>
  <br>
  <p style="display:inline;font-style: italic;">Restaurant clerk</p>
  <p style="display:inline;margin-left:451px;"> Jun 2017 - Aug 2017</p>
  <ul>
    <li>Operated a cash register</li>
    <li>Prepared meals for customers</li>
  </ul>
  <br>
  <br>
  <p style="display:inline;">Provigo le Marché</p>
  <p style="display:inline;margin-left:436px;"> Longueuil, QC</p>
  <br>
  <p style="display:inline;font-style: italic;">Customer Service Associate</p>
  <p style="display:inline;margin-left:362px;"> Jun 2015 - Jul 2016</p>
  <ul>
    <li>Wrapped customers’ groceries</li>
    <li>Ensured the cleanliness of the bathrooms and the main floor</li>
  </ul>
  <br>
  <br>
  <p style="display:inline;">Collège Français</p>
  <p style="display:inline;margin-left:446px;"> Longueuil, QC</p>
  <br>
  <p style="display:inline;font-style: italic;">Tutor</p>
  <p style="display:inline;margin-left:530px;"> Sept 2012 - May 2014</p>
  <ul>
    <li>Helped students with their homework</li>
    <li>Reviewed with students their lessons</li>
  </ul>
  <br>
  <br>

  <h2>Skills</h2>
  <p>Languages:<span style="font-weight:bold;"> Java, C++, Python, JavaScript (ES6)</span></p>
  <p>Technologies: <span style="font-weight:bold;"> Git, Bash, Node.js, MongoDB, Express.js, Passport.js, React.js, Flask, jQuery</span></p>

  <br>
  <br>

  <h2>Projects</h2>
  <p>Warzone <span style="font-style:italic;font-weight:bold; margin-left:10px;">C++</span></p>
  <p>Risk-like game for a C++ course at Concordia</p>
  <br>
  <p>Banking Record System <span style="font-style:italic; font-weight:bold; margin-left:10px;">C++</span></p>
  <p> A command-line program simulating the managment of banking accounts</p>
  <br>
  <p>Secrets app <span style="font-style:italic; font-weight:bold; margin-left:10px;">JavaScript, Node.js, Passport.js, OAuth 2.0</span></p>
  <p>A clone of the Whisper app</p>
  <br>
  <p> The above are my most recent projects, please check the "Portfolio" section for more projects</p>





</div>




<%- include("partials/footer") -%>
